<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=1054" />
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'main/styles/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main/styles/fonts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main/styles/jcarousel.basic.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,600&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'main/js/jquery.jcarousel.js' %}"></script>
    <script src="{% static 'main/js/jcarousel.basic.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="select">
                <select name="region" id="region" class="select-hidden">
                    <option value="hide">Выбор региона</option>
                    <option rel="icon-temperature" value="Москва">Москва</option>
                    <option value="Московская область">Московская область</option>
                    <option value="Ростовская область">Ростовская область</option>
                </select>
            </div>
            <div class="social">
                <p>Мы в соцсетях:</p>
                <ul class="social_list">
                    <li>
                        <a href="#">
                            <i class="sprite sprite-vk"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sprite sprite-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sprite sprite-insta"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="reg_basket">
                <div class="registration">
                    {% if not user.is_authenticated %}

                    <a href="{% url 'main:register_user' %}">Регистрация </a>
                    /

                    <a href="{% url 'main:login_user' %}"> Вход</a>
                    /
                    {% endif %}
                    {% if user.is_authenticated %}

                    <a href="{% url 'main:logout_user' %}">Выход</a>
                    {% endif %}
                    {% load socialaccount %}
                    {% if not user.is_authenticated %}
                    <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook</a>
                    /
                    <a href="{% provider_login_url "vk" method="oauth2" %}">VK</a>
                    {% endif %}
                </div>
                <div class="basket">
                    <i class="sprite sprite-baskets"></i>
                    <p>0</p>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'main:index' %}">
                    <i class="sprite-logo"></i>
                </a>
            </div>
            <div class="bar">
                <ul class="navbar_list">
                    <li>
                        <a href="{% url 'main:index' %}">Новости</a>
                    </li>
                    <li class="katalog">
                        <i class="sprite sprite-forkatalog"></i>
                        <a href="#">каталог товаров</a>
                    </li>
                    <li>
                        <a href="{% url 'track_map:track_index' %}">карта трасс</a>
                    </li>
                    <li>
                        <a href="#">блог</a>
                    </li>
                    <li>
                        <a href="#">мероприятия</a>
                    </li>
                    <li>
                        <a href="#">контакты</a>
                    </li>
                    <li class="search">
                        <i class="sprite sprite-search"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="footer_nav">
                <ul>
                    <li>
                        <a href="{% url 'main:index' %}">Новости</a>
                    </li>
                    <li>
                        <a href="{% url 'track_map:track_index' %}">карта трасс</a>
                    </li>
                    <li>
                        <a href="#">блог</a>
                    </li>
{#                    <li>#}
{#                        <a href="#">мероприятия</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">контакты</a>#}
{#                    </li>#}
                </ul>
            </div>
            <form action="#" method="post" class="seach_main">
                <input type="text" class="seach_footer" name="s" placeholder="Поиск"/>
            </form>
            <div class="clear"></div>
            <div class="footer_rc">
                <h3>RC Evolution</h3>
                <p>Проект поддержки RC в России</p>
            </div>
            <div class="footer_social">
                <p>Мы в соцсетях:</p>
                <div class="footer_social_icon">
                    <a href="#">
                        <i class="sprite sprite-vk_footer"></i>
                    </a>
                    <a href="#">
                        <i class="sprite sprite-youtube_footer"></i>
                    </a>
                    <a href="#">
                        <i class="sprite sprite-insta_footer"></i>
                    </a>
                </div>
            </div>
            <div class="rozart">
                <a href="#">
                    <p>Сайт создан
                        <br>студией “RozArt”
                        </p>
                    </a>
                </div>
            </div>
        </footer>
        <script src="{% static 'main/js/index.js' %}"></script>
    </body>
</html>
