{% extends 'main/base.html' %}
{% block body %}



<div class="news_page">
	<div class="container">
		<ul class="second_menu">
			<li>
				<a  href="{% url 'main:index' %}" >Главная</a>&rsaquo;
			</li>
			<li>Новости</li>
		</ul>
		<div class="clear"></div>
		<div class="type_img">
			<div class="jcarousel">
				<ul>
                       {% for news_picture in pictures %}

					<li>
						<img src="{{ news_picture.picture.url }}" alt="picture" width="1024" height="576">
                    </li>
                       {% endfor %}

					</ul>
					<div class="gray_box">
						<div class="photo_video">
							<p>{{ number_of_pictures }} фото</p>
							<p>0 видео</p>
						</div>
						<div class="jcarousel-control">
							<a href="#" class="jcarousel-control-prev left_event">
								<i class="sprite sprite-left"></i>
							</a>
							<a href="#" class="jcarousel-control-next right_event">
								<i class="sprite sprite-right"></i>
							</a>
						</div>
					</div>
					<div class="graybig_box">
						<p class="type_time">{{news.news_posting_time }}</p>
						<p class="type_visited">{{news.news_views_count}}</p>
						<p class="type_comment">{{news.news_comments_count}}</p>
					</div>
				</div>
			</div>
			<div class="pagenews_content">
				<h2 class="header_road">{{news.news_title}}</h2>
				<p>{{news.news_text}}</p>
			</div>
			<h4>{{news.news_comments_count}} comments</h4>
             {% for comment in user_comments %}

			<div class="list_comment">
				<img src="{{ comment.get_user_avatar }}" alt="Avatar" width="67" height="67">
					<p class="nickname">{{ comment.user_nickname }}</p>
					<i class="sprite sprite-time"></i>
					<p class="time">{{ comment.time_created }}</p>
					<p class="comments">{{ comment.text }} </p>
					<a href="#" class="answer">Ответить</a>
				</div>
             {% endfor %}

             {% if user.is_authenticated %}

				<div class="add_comment">
					<img src="images/ava5.jpeg" alt="" width="67" height="67">
						<form class="add_comment" role="form" action="{{ news.get_absolute_url }}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% for field in form %}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger small">{{ field.errors }}</span>
                                </div>
                                <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                                {% load widget_tweaks %}
                                {% render_field field class+="news_addcomm" %}
                            </div>
                            {% endfor %}
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <button type="submit" class="more_1">опубликовать</button>
                        </form>
						</div>
             {% endif %}
             {% if not user.is_authenticated %}
                 <div class="add_comment">
                     <br>
                     <a href="{% url 'main:login_user' %}">Авторизируйтесь чтобы оставить коментарий</a>
                     <br>
                     <br>
                 </div>
             {% endif %}

					</div>
				</div>
{% endblock %}
