{% extends 'main/base.html' %}

{% block title %} Registration {% endblock %}

{% block body %}

    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}
    {% if form.non_field_errors %}
        <p><strong>{{ form.non_field_errors }}</strong></p>
    {% endif %}

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'main/form_template.html' %}
         <div>
           <button type="submit">Submit</button>
         </div>
      </form>
{% endblock %}
